<div>
    <ul class="blogpostUl">
        {{#titles}}
        <a href="/blog/{{id}}">
        <li class="blogpostsLi">
            {{title}}
        </li>
        </a>
        {{/titles}}
    </ul>
</div>