<div>
    <ul class='blogpostUl'>
        {{#titles}}
            <li class='blogpostsLi'>
                <a href='/blog/{{id}}'>
                    {{title}}
                </a>
            </li>
        {{/titles}}
    </ul>
</div>