<div>
    <h1>{{title}}</h1>
    {{{blog}}}

    {{#if editor}}<button
            onclick="window.location.href='/edit/post/{{id}}'"
        >Edit</button>{{/if}}
    {{#if editor}}
        <button
            onclick="window.location.href='/delete/post/{{id}}'"
        >Delete</button>
    {{/if}}
</div>