<div>
    <form action="" method="post">
        <textarea name="blogpost" id="" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>