<div>
    <form action="" method="post" class="postall">
        <input type="text" name="title" placeholder="Title">
        <textarea name="blogpost" class="posttextarea" cols="30" rows="10"></textarea>
        <div class="publishbox">
            <label for="publish">Publish</label>
            <input type="checkbox" name="publish" id="publish" {{#if publish}}checked{{/if}}>
            
        </div>
        <button type="submit">Submit</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>